<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ivy.baseproject.test"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <meta-data
        android:name="android.max_aspect"
        android:value="2.1"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.OBSERVE_GRANT_REVOKE_PERMISSIONS"/>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NetImageActivity">
        </activity>
        <activity
            android:name=".activity.MovieListActivity"
            android:label="@string/title_activity_movie_list">
        </activity>
        <activity
            android:name=".activity.GirlListActivity"
            android:label="@string/title_activity_girl_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ResolutionAdaptionDemoActivity"
            android:label="@string/title_activity_resolution_adaption_demo">
        </activity>
        <activity
            android:name=".activity.ScreenInfoActivity"
            android:label="@string/title_activity_screen_info">
        </activity>
        <activity
            android:name=".activity.ResolutionTestActivity"
            android:label="@string/title_activity_resolution_test">
        </activity>
        <activity
            android:name=".sample.SampleActivity"
            android:label="@string/title_activity_resolution_test">
        </activity>
        <activity
            android:name=".sample.SampleFragmentActivity"
            android:label="@string/title_activity_resolution_test">
        </activity>
        <activity
            android:name=".activity.PermissionActivity"
            android:label="@string/title_activity_permission">
        </activity>
        <activity
            android:name=".activity.FileImageActivity"
            android:label="@string/title_activity_file_image"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.UiWidgetActivity">
        </activity>
        <activity android:name=".activity.MultiFragmentActivity">
        </activity>
    </application>

</manifest>